name: Deploy Python project to Azure Function App
on:
  [push]

permissions:
  id-token: write
  contents: read

env:
  AZURE_FUNCTIONAPP_NAME: 'backendapi-1'   
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './AzureFunctionDeploy.zip'                             

jobs:
  deploy-functions:
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v3

    - name: 'Install python Dependencies Using Pip'
      run: |
        mkdir -p AzureFunctionDeploy
        cd AzureFunctionDeploy
        echo "Deploying from: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}"
        python -m pip install --upgrade pip
        pip install --target=".python_packages/lib/site-packages" -r ../requirements.txt
        ls .python_packages/lib/site-packages
    
    - name: Zip the Azure Function Deploy folder
      run: |
        cd AzureFunctionDeploy
        zip -r ../AzureFunctionDeploy.zip . -x "*.git*" "*.pyc*" # Exclude unnecessary files
      # zip -r ../AzureFunctionDeploy.zip . -i ./*

    - name: Azure Login # login to azure
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.CLIENT_ID }}
        tenant-id: ${{ secrets.TENANT_ID }}
        subscription-id: ${{ secrets.SUBSCRIPTION_ID }}

    - name: 'Run az commands'
      run: |
        az account show
        az group list
    
    - name: 'Deploy to Azure Function App'
      run: |
        az functionapp deployment source config-zip \
          --resource-group "backendapi1" \
          --name "${{ env.AZURE_FUNCTIONAPP_NAME }}" \
          --src ./AzureFunctionDeploy.zip \
          --debug
    
    # - name: 'Run Azure Functions Action'
    #   uses: Azure/functions-action@v1
    #   id: fa
    #   with:
    #     app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
    #     #slot-name: 'Production'
    #     publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
    #     package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
    #     scm-do-build-during-deployment: false
    #     enable-oryx-build: false
    #     remote-build: true
        
