name: Deploy App to Azure App Service

on:
  push:
    branches:
      - web-app  # Adjust according to your branch

permissions:
  id-token: write
  contents: read

env:
  AZURE_RESOURCE_GROUP: DefaultResourceGroup-EUS2
  AZURE_APP_SERVICE_PLAN: myAppServicePlan
  AZURE_WEBAPP_NAME: myPythonHttpTriggerFunctionApp
  AZURE_PUBLISH_PROFILE: ${{ secrets.AZURE_PUBLISH_PROFILE }}
  AZURE_WEBAPP_PACKAGE_PATH: '.'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: azurecloud

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Azure login
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.CLIENT_ID }}
        tenant-id: ${{ secrets.TENANT_ID }}
        subscription-id: ${{ secrets.SUBSCRIPTION_ID }}
        
    - name: Create App Service Plan
      run: |
        az appservice plan create --resource-group ${{ env.AZURE_RESOURCE_GROUP }} \
          --name ${{ env.AZURE_APP_SERVICE_PLAN }} \
          --sku S1 \
          --location eastus
          
    - name: Create Web App (Azure App Service)
      run: |
        az webapp create --name ${{ env.AZURE_WEBAPP_NAME }} \
          --resource-group ${{ env.AZURE_RESOURCE_GROUP }} \
          --plan ${{ env.AZURE_APP_SERVICE_PLAN }} \
          --runtime "PYTHON|3.11"

    - name: Zip the Python app
      run: |
        zip -r ../AzureFunctionDeploy.zip . -i ./*

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
        publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
