name: Deploy Python project to Azure Function App
on:
  [push]

permissions:
  id-token: write
  contents: read

env:
  AZURE_FUNCTIONAPP_NAME: 'backendapi-1'   
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './AzureFunctionDeploy.zip'
  AZURE_RESOURCE_GROUP: 'DefaultResourceGroup-EUS2'
  AZURE_STORAGE_ACCOUNT_NAME: 'backendapi1'
  AZURE_CONTAINER_NAME: 'backendcontainer'                          

jobs:
  deploy-functions:
    runs-on: ubuntu-latest
    steps:
    
    # Checkout code
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v3
    
    # Install dependencies
    - name: 'Install Python Dependencies Using Pip'
      run: |
        mkdir -p AzureFunctionDeploy
        cd AzureFunctionDeploy
        echo "Deploying from: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}"
        pip install --target=".python_packages/lib/site-packages" -r ../requirements.txt
        python -m pip install --upgrade pip
    
    # Create and start virtual environment
    - name: Create and start virtual environment
      run: |
        python -m venv venv
        source venv/bin/activate
    
    # Package the function app into a ZIP file
    - name: 'Zip the Azure Function Deploy folder'
      run: |
        cd AzureFunctionDeploy
        zip -r ../AzureFunctionDeploy.zip . -x "*.git*" "*.pyc*" 

    # # Upload artifact for deployment job (optional)
    # - name: Upload ZIP to Azure Blob Storage
    #   run: |
    #     az storage blob upload \
    #       --account-name ${{ env.AZURE_STORAGE_ACCOUNT_NAME }} \
    #       --container-name ${{ env.AZURE_CONTAINER_NAME }} \
    #       --name AzureFunctionDeploy.zip \
    #       --file ./AzureFunctionDeploy.zip \
    #       --overwrite \
    #       --auth-mode 

    # Login to Azure
    - name: Azure Login # login to Azure
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.CLIENT_ID }}
        tenant-id: ${{ secrets.TENANT_ID }}
        subscription-id: ${{ secrets.SUBSCRIPTION_ID }}
    
    # Verify Azure account and resource group
    - name: 'Run az commands'
      run: |
        az account show
        az group list
    
    # Deploy directly from the Blob Storage URL
    - name: Deploy to Azure Function App from Blob URL
      run: |
        az functionapp deployment source config-zip \
          --resource-group ${{ env.AZURE_RESOURCE_GROUP }} \
          --name ${{ env.AZURE_FUNCTIONAPP_NAME }} \
          --src "https://${{ env.AZURE_STORAGE_ACCOUNT_NAME }}.blob.core.windows.net/${{ env.AZURE_CONTAINER_NAME }}/AzureFunctionDeploy.zip" \
          --debug
