name: Deploy Python project to Azure Function App
on:
  [push]

permissions:
  id-token: write
  contents: read

env:
  AZURE_FUNCTIONAPP_NAME: 'backendapi-1'   
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './AzureFunctionDeploy.zip'
  AZURE_RESOURCE_GROUP: 'DefaultResourceGroup-EUS2'
  AZURE_STORAGE_ACCOUNT_NAME: 'backendapi1'
  AZURE_CONTAINER_NAME: 'backendcontainer'                          

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
    # Checkout code
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.11"
  
    # Install dependencies
    - name: 'Install Python Dependencies Using Pip'
      run: |
        mkdir -p AzureFunctionDeploy
        cd ./AzureFunctionDeploy
        python -m pip install --upgrade pip
        pip install --target=".python_packages/lib/site-packages" -r requirements.txt
        
    - name: Upload artifact for deployment jobs
      uses: actions/upload-artifact@v4
      with:
        name: python-app
        path: |
          . 
          !venv/
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
   

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app
          path: .
  
        # Login to Azure
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
          subscription-id: ${{ secrets.SUBSCRIPTION_ID }}
        
        # Verify Azure account and resource group
      - name: 'Run az commands'
        run: |
          az account show
          az group list
    
      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v2
        id: deploy-to-webapp
        with:
          app-name: 'backendapi-1'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
