name: Deploy Python project to Azure Function App
on:
  [push]

permissions:
  id-token: write
  contents: read

env:
  AZURE_FUNCTIONAPP_NAME: 'backendapi123'   
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.'                                  

jobs:
  deploy-functions:
    runs-on: ubuntu-latest
    environment: azurecloud
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v3

    - name: 'Install python Dependencies Using Pip'
      run: |
        mkdir -p AzureFunctionDeploy
        cd ./AzureFunctionDeploy
        python -m pip install --upgrade pip
        pip install --target=".python_packages/lib/site-packages" -r requirements.txt

    - name: Zip the Azure Function Deploy folder
      run: |
        cd AzureFunctionDeploy
        zip -r ../AzureFunctionDeploy.zip ./*
          
    - name: Azure Login # login to azure
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.CLIENT_ID }}
        tenant-id: ${{ secrets.TENANT_ID }}
        subscription-id: ${{ secrets.SUBSCRIPTION_ID }}

    - name: 'Run az commands'
      run: |
        az account show
        az group list

    - name: Build and Deploy to Azure Function App
      run: |
        pwd
        chmod +x AzurefunctionDeploy.zip
        ls -l ./AzureFunctionDeploy.zip
        az functionapp deployment source config-zip \
          --src "../AzurefunctionDeploy.zip" \
          --name "backendapi123" \
          --resource-group "DefaultResourceGroup-EUS2"

