name: Deploy Python project to Azure Function App
on:
  [push]

permissions:
  id-token: write
  contents: read

env:
  AZURE_FUNCTIONAPP_NAME: 'backendapi-1'   
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.'
  AZURE_RESOURCE_GROUP: 'DefaultResourceGroup-EUS2'
  AZURE_STORAGE_ACCOUNT_NAME: 'backendapi1'
  AZURE_CONTAINER_NAME: 'backendcontainer'                          

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
    # Checkout code
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.11"
  
    # Install dependencies
    - name: 'Install Python Dependencies Using Pip'
      run: |
        mkdir -p AzureFunctionDeploy
        cd ./AzureFunctionDeploy
        python -m pip install --upgrade pip
        pip install --target=".python_packages/lib/site-packages" -r requirements.txt
    
    - name: Zip artifact for deployment
      run: zip -r ../AzureFunctionDeploy.zip ./*  
    
    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v4
      with:
        name: python-app
        path: ./AzureFunctionDeploy.zip
        
  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app
          path: ./AzureFunctionDeploy.zip
      
      - name: Unzip artifact for deployment
        run: unzip AzureFunctionDeploy.zip 
        
        # Login to Azure
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
          subscription-id: ${{ secrets.SUBSCRIPTION_ID }}
        
        # Verify Azure account and resource group
      - name: 'Run az commands'
        run: |
          az account show
          az group list
    
      # Deploy to Azure Function App
      - name: Build & Deploy to Azure Function App
        run: |
          echo "Deploying ZIP file from ${GITHUB_WORKSPACE}/${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}"
          az functionapp deployment source config-zip \
            --resource-group ${{ env.AZURE_RESOURCE_GROUP }} \
            --name ${{ env.AZURE_FUNCTIONAPP_NAME }} \
            --src "${GITHUB_WORKSPACE}/${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}" \
            --debug
