name: Deploy Python project to Azure Function App
on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AZURE_FUNCTIONAPP_NAME: 'backendapi123'   
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.' 
  PYTHON_VERSION: '3.11'                     

jobs:
  deploy-functions:
    runs-on: ubuntu-latest
    environment: azurecloud
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v3

    - name: Setup Python ${{ env.PYTHON_VERSION }} Environment
      uses: actions/setup-python@v4
      with:
        python-version: ${{ env.PYTHON_VERSION }}
        architecture: x64

    - name: 'Install python Dependencies Using Pip'
      run: |
        cd ./AzurefunctionDeploy
        python -m pip install --upgrade pip
        pip install -r requirements.txt --target=".python_packages/lib/site-packages"

    - name: Zip the Azure Function Deploy folder
      run: |
        cd AzurefunctionDeploy
        zip -r ../AzurefunctionDeploy.zip ./*
          
    - name: Azure Login # login to azure
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.CLIENT_ID }}
        client-secret: ${{ secrets.CLIENT_SECRET }}
        tenant-id: ${{ secrets.TENANT_ID }}
        subscription-id: ${{ secrets.SUBSCRIPTION_ID }}

    - name: 'Run az commands'
        run: |
          az account show
          az group list

    - name: Build and Deploy to Azure Function App
      run: |
        az functionapp deployment source config-zip \
          --resource-group "githubactiondemo_group" \
          --name "githubactiondemo" \
          --src "./AzurefunctionDeploy.zip"
          