name: Deploy Python project to Azure Function App

on:
  [push]

permissions:
  id-token: write

env:
  AZURE_FUNCTIONAPP_NAME: 'backendapi123'   
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.' 
  PYTHON_VERSION: '3.9'                     

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: azurecloud
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v3

    - name: Setup Python ${{ env.PYTHON_VERSION }} Environment
      uses: actions/setup-python@v4
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: 'Resolve Project Dependencies Using Pip'
      shell: bash
      run: |
        pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
        python -m pip install --upgrade pip
        pip install -r requirements.txt --target=".python_packages/lib/site-packages"
        popd

    - name: Azure Login # login to azure
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.CLIENT_ID }}
        client-secret: ${{ secrets.CLIENT_SECRET }}
        tenant-id: ${{ secrets.TENANT_ID }}
        subscription-id: ${{ secrets.SUBSCRIPTION_ID }}

    - name: Deploy to Azure Function App
      uses: azure/functions-action@v1
      with:
        app-name: backendapi123
        resource-group: DefaultResourceGroup-EUS2
        publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
        scm-do-build-during-deployment: false
        remote-build: true
        package: .
