name: Deploy Python project to Azure Function App
on:
  [push]

permissions:
  id-token: write
  contents: read

env:
  AZURE_FUNCTIONAPP_NAME: 'backendapi-1'   
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './AzureFunctionDeploy.zip'
  AZURE_RESOURCE_GROUP: 'DefaultResourceGroup-EUS2'
  AZURE_STORAGE_ACCOUNT_NAME: 'backendapi1'
  AZURE_CONTAINER_NAME: 'backendcontainer'                          

jobs:
  deploy-functions:
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v3

    - name: 'Install python Dependencies Using Pip'
      run: |
        mkdir -p AzureFunctionDeploy
        cd AzureFunctionDeploy
        echo "Deploying from: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}"
        python -m pip install --upgrade pip
        ls .python_packages/lib/site-packages
    
    - name: Create and start virtual environment
      run: |
        python -m venv venv
        source venv/bin/activate
    
    - name: Install dependencies
      run: pip install -r requirements.txt

    
    - name: Zip the Azure Function Deploy folder
      run: |
        cd AzureFunctionDeploy
        zip -r ../AzureFunctionDeploy.zip . -x "*.git*" "*.pyc*" # Exclude unnecessary files
      # zip -r ../AzureFunctionDeploy.zip . -i ./*

    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v4
      with:
        name: python-app
        path: |
          AzureFunctionDeploy.zip
          !venv/

    - name: Azure Login # login to azure
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.CLIENT_ID }}
        tenant-id: ${{ secrets.TENANT_ID }}
        subscription-id: ${{ secrets.SUBSCRIPTION_ID }}

    - name: 'Run az commands'
      run: |
        az account show
        az group list



    # - name: Upload ZIP to Azure Blob Storage
    #   run: |
    #     az storage blob upload \
    #       --account-name ${{ env.AZURE_STORAGE_ACCOUNT_NAME }} \
    #       --container-name ${{ env.AZURE_CONTAINER_NAME }} \
    #       --name AzureFunctionDeploy.zip \
    #       --file ./AzureFunctionDeploy.zip \
    #       --overwrite \
    #       --auth-mode key
    
    - name: Deploy to Azure Function App from Blob URL
      run: |
        az functionapp deployment source config-zip \
          --src https://${{ env.AZURE_STORAGE_ACCOUNT_NAME }}.blob.core.windows.net/${{ env.AZURE_CONTAINER_NAME }}/AzureFunctionDeploy.zip \
          --resource-group ${{ env.AZURE_RESOURCE_GROUP }} \
          --name ${{ env.AZURE_FUNCTIONAPP_NAME }} \
          --debug
    
    # - name: 'Deploy to Azure Function App'
    #   run: |
    #     az functionapp deployment source config-zip \
    #       --resource-group "DefaultResourceGroup-EUS2" \
    #       --name "${{ env.AZURE_FUNCTIONAPP_NAME }}" \
    #       --src ./AzureFunctionDeploy.zip \
    #       --debug
    
    # - name: 'Run Azure Functions Action'
    #   uses: Azure/functions-action@v1
    #   id: fa
    #   with:
    #     app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
    #     #slot-name: 'Production'
    #     publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
    #     package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
    #     scm-do-build-during-deployment: true
    #     enable-oryx-build: false
    #     remote-build: false
        
